<div class="dashboard-container">
    <!-- Sidebar izquierda -->
    <div class="sidebar">
      <h2>FitMindSet</h2>
      <ul>
        <li><a href="/sistema">Mi Perfil</a></li>
        <li><a href="#">Metas de Salud</a></li>
        <li><a href="/userprofile">Configuraciones</a></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Gráficos</a></li>
        <li><a href="#">Pagos y Suscripciones</a></li>
        <li><a href="/login">Cerrar Sesión</a></li>
      </ul>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
      <h1 style="color: #2AA52E;">Bienvenido, Sebastián</h1>
      <div class="cards-container">
        <div class="card">
          <h3>Perfil</h3>
          <p>Administra tu información personal y configuraciones.</p>
          <button>Ver más</button>
        </div>
        <div class="card">
          <h3>Metas de Salud</h3>
          <p>Establece y sigue tus metas de salud y bienestar.</p>
          <button>Ver más</button>
        </div>
        <div class="card">
          <h3>Notificaciones</h3>
          <p>Revisa las notificaciones recientes sobre tu progreso.</p>
          <button>Ver más</button>
        </div>
        <div class="card">
          <h3>Reportes</h3>
          <p>Consulta tus reportes de salud y rendimiento.</p>
          <button>Ver más</button>
        </div>
        <div class="card">
          <h3>Pagos y Suscripciones</h3>
          <p>Administra tus pagos y suscripciones a recursos premium.</p>
          <button>Ver más</button>
        </div>
      </div>

      <!-- Espacio para gráfico -->
      <div class="progress-chart">
        <h3>Gráfico de Progreso</h3>
        <div class="avatar">
          <img src="https://tomi-digital-resources.storage.googleapis.com/images/classes/resources/rsc-507340-5fd7d4e2b31c0.jpeg" alt="Avatar de Usuario">
        </div>
      </div>
    </div>

    <!-- Sidebar derecha -->
    <div class="right-sidebar">
      <h3>Recursos Suscritos</h3>
      <ul>
        <li><a href="#">Guía de Nutrición Avanzada</a></li>
        <li><a href="#">Programa de Entrenamiento Completo</a></li>
      </ul>

      <h3>Reporte de Pagos</h3>
      <ul>
        <li><a href="#">Suscripción Premium</a></li>
        <li><a href="#">Compra de Curso Adicional</a></li>
      </ul>

      <h3>Foro de la Comunidad</h3>
      <ul>
        <li><a href="#">Discute sobre Nutrición</a></li>
        <li><a href="#">Consejos de Ejercicio</a></li>
        <li><a href="#">Recetas Saludables</a></li>
      </ul>
    </div>
</div>
